* {box-sizing:border-box}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
    text-align: center;
    margin: 80px 0px 0px 0px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 30px;
    padding: 16px;
    color: rgb(179, 23, 23);
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 3px;
}

.prev:hover, .next:hover {
  background-color:skyblue;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin:2px;
    background-color: rgb(187, 187, 187);
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #696969;
}
.img_text{
    font-size: 25px;
    font-weight: bold;
}

@media only screen and (max-width: 300px) {
    .prev, .next,.img_text {font-size: 11px}
  }